<!DOCTYPE html>
<html lang="ru">
<head>
    <title>JMChat Confirmation Code</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/registration.css">
    <script>
        const codeDigits = document.querySelectorAll('.code-digit');
        const codeInput = document.getElementById('code-input');

        function moveToNextOrPrevious(input) {
            var maxLength = input.maxLength;
            var currentLength = input.value.length;

            if (currentLength === maxLength) {
                var nextInput = input.nextElementSibling;
                if (nextInput)
                    nextInput.focus();
            } else if (currentLength === 0) {
                var previousInput = input.previousElementSibling;
                if (previousInput) {
                    previousInput.focus();
                }
            }
            updateCodeInputValue();
        }

        function moveToPrevious(input) {
            if (input.value.length === 0 && event.key === "Backspace") {
                var previousInput = input.previousElementSibling;
                if (previousInput) {
                    previousInput.focus();
                }
            }
            updateCodeInputValue();
        }

        function updateCodeInputValue() {
            codeInput.value = Array.from(codeDigits).map(digitInput => digitInput.value).join('');
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <div style="height: 60px"></div>
    <a style="text-decoration: none;" href="#" onclick="submitForm()" class="back">
        <p class="back"><img src="../static/back-arrow.png" style="align-self: center" alt="Картинка"> Назад </p>
    </a>
    <img src="../profile_pictures/logo_jm.png" style="align-self: center" alt="Картинка" width="540" height="170">
    <br>
    <h4 class="headline">Введите код из письма на вашей почте</h4>
    <br>
    <form method="post" action="/reset-password" id="form" style="width: 540px">
        <input type="text" class="form-control" id="code-input" name="code" style="display: none">
        <div class="form-group">
            <div class="row justify-content-center">
                <div class="code-input">
                    <input type="text" maxlength="6" id="code" class="code-box"/>
                    <div class="code-container">
                        <input type="text" maxlength="1" class="code-digit" oninput="moveToNextOrPrevious(this)"
                               onkeydown="moveToPrevious(this)"/>
                        <input type="text" maxlength="1" class="code-digit" oninput="moveToNextOrPrevious(this)"
                               onkeydown="moveToPrevious(this)"/>
                        <input type="text" maxlength="1" class="code-digit" oninput="moveToNextOrPrevious(this)"
                               onkeydown="moveToPrevious(this)"/>
                        <input type="text" maxlength="1" class="code-digit" oninput="moveToNextOrPrevious(this)"
                               onkeydown="moveToPrevious(this)"/>
                        <input type="text" maxlength="1" class="code-digit" oninput="moveToNextOrPrevious(this)"
                               onkeydown="moveToPrevious(this)"/>
                        <input type="text" maxlength="1" class="code-digit" oninput="moveToNextOrPrevious(this)"
                               onkeydown="moveToPrevious(this)"/>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control" id="email" name="email" value="{{ email }}" style="display: None">
            <input type="text" class="form-control" id="nickname" name="nickname" value="{{ nickname }}"
                   style="display: None">
        </div>
        <br>
        <button type="submit" class="btn btn-primary button" id="submit-button">Далее</button>
    </form>
</div>
</body>
</html>
