<!DOCTYPE html>
<html lang="ru">
<head>
    <title>JMChat Password Reset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
     <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/registration.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<div class="container mt-5">
    <div style="height: 60px"></div>
    <a style="text-decoration: none;" href="/login" class="back"><p class="back">
        <img src="../static/back-arrow.png" style="align-self: center" alt="Картинка"> Назад </p></a>
    <img src="../profile_pictures/logo_jm.png" style="align-self: center" alt="Картинка" width="540" height="170">

    <br>
    <h4 class="headline">Введите почту для изменения пароля</h4>
    <p class="under_headline">На вашу почту придет код подтверждения</p>
    <br>
    <div>
        {{ error_message | safe }}
    </div>
    <form method="post" action="/confirm-code-password-reset" id="form">
        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" required placeholder="Почта">
        </div>
        <div class="small_gap"></div>
        <div class="form-group">
            <input type="text" class="form-control" id="nickname" name="nickname" required placeholder="Никнейм">
        </div>
        <div class="small_gap"></div>
        <div>
            <div class="g-recaptcha" data-sitekey="{{ SITE_KEY }}"></div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary button" id="submit-button">Далее</button>
    </form>
</div>
<script>
    function onSubmit(token) {
        document.getElementById("g-recaptcha-response").value = token;
        document.getElementById("form").submit();
    }

    function onCaptchaSuccess(response) {
        // При успешной проверке капчи, разблокировать отправку формы
        document.getElementById("submit-button").removeAttribute("disabled");
    }

    // Блокировка отправки формы при загрузке страницы
    document.getElementById("form").addEventListener("submit", function (event) {
        if (grecaptcha.getResponse() === "") {
            event.preventDefault();
            alert("Пожалуйста, пройдите капчу.");
        }
    });
</script>
</body>
</html>
